%cf {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

body {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	background-color: skyblue; /* Sanity Check! */
}
 
h1 {
	margin-top: 100px;
	text-align: center;
}

li{list-style: none;
	&.row{
		img{
			width: 80%;
			margin: 0px auto; 
			display: block;
		}
		textarea{
			display: block;
			width: 100%;
		}
	}
}